*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Heebo', sans-serif;
}
/* Common Shared Styles
========================= */
.primary-title{
  color: #272727;
font-size: 35px;
font-weight: 800;
line-height: 35px;
}
.primary-description{
  color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
padding:20px 0;
line-height: 22px;
}

/* Header Section Styles
========================== */
.header{
  width:100vw;
  background-color: #0597a026;
}

/* Navigation Section */
.navbar{
  display:flex;
  padding: 20px 140px;
  justify-content: space-between;
  align-items:center;
  background: rgba(71, 125, 17, 0.15);
}
.shop-name{
  color: #181818;
font-size: 2.8125rem;
font-weight: 800;
}
nav ul{
  display:flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 20px;
}
li a{
  text-decoration: none;
  font-size: 1.2rem;
  color:rgb(36, 31, 31);
  /* padding:5px 8px;
  border-radius: 5px; */
}
li a:hover{
  /* background-color: #a7216226; */
  color: #df617e;
  text-decoration: underline;
}
/* Banner Section
--------------------- */
.hero{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  width:100vw;
  padding:50px 140px 0;
}
.hero-img{
 height:90vh;
 width:40%;
}
.hero-text{
  max-width: 50%;
}
.hero-title{
  color: #272727;
font-size: 65px;
font-weight: 700;
line-height: 75px;
}
.hero-description{
  color: rgba(54, 53, 53, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top:30px;
text-align: justify;
}
.hero-btn{
 
  background: #E55473;
  color:white;
  font-size: 20px;
  padding: 15px 30px;
   border-radius: 8px;
  border:none;
  margin-top: 28px;
}

/* Main Section
==================== */
/* Flash Sale Section 
-----------------------*/
.flashSale-container{
  width:100vw;
  background-color: rgba(71, 125, 17, 0.15);
  display:flex;
  justify-content:space-between;
  align-items: center;
 padding: 100px 18% 100px 15%;
}

.flashSale-contents{
  width:40vw;
  text-align: center;
}
.flashSale-btn{
  background: #A60027;
  color:white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
}
.flashSale-img{
  width:20vw;
}